<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id= "homepage">
    <h1><span style='font-size:40px;'>&#x1f373;</span><%= title %></h1>
    <p>The assistant chef readily available on your fingertips</p>
    <form action="/recipes/search" method="POST">
      <input name="recipe_find" placeholder="enter ingredent(s)/dish name">
      <button id= "find_recipe">Find recipe</button>
  </form>
  <a href= '/recipes/form'>Add Recipe</a>
  <a href= '/recipes'>View All Recipes</a>
  </body>
</html>
