<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>
    <form action="/recipes/add" method="POST">
        <input name="ingredients" placeholder="enter ingredient(s)">
        <button id= "add_ingredient">Add ingredient</button>
    </form>
</body>
</html>