<html>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<body id= "recipes_add">
    <form action="/recipes/add" method="POST">
        <input name="recipe_name" placeholder="Dish name">
        <button id= "add_recipe">Add recipe</button>
    </form>
</body>

</html>